.accordion-item {
    background-color: #FCFAF2;
}

.card{
    border-radius: 4px;
    background: #FCFAF2;
    box-shadow: 0 6px 10px rgba(0,0,0,.08), 0 0 6px rgba(0,0,0,.05);
    transition: 1s transform cubic-bezier(.155,1.105,.295,1.12),1s box-shadow,1s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    cursor: pointer;
    padding: 0 5px;
    border: 0;
}

.card:hover{
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.donut-decorate {
    position: relative;
    z-index: -1;
}

.donut-decorate .donut-text {
    position: absolute;
    color: #78552B;
    user-select: none;
    pointer-events: none;
    font-size: 1.5em;
    animation: animate 7.5s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(360deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

.donut-decorate .donut-text span {
    position: absolute;
    top: -100px;
    text-transform: uppercase;
    display: inline-block;
    transform-origin: 0 100px;
}

.space {
    height: 360px;
    position: relative;
    z-index: -10;
}


.buy-content {
    position: relative;
    width: 80px;
    height: 50px;
    border-radius: 40px;
    border: 2px solid rgb(40, 40, 40);
    transition: 0.5s;
    display: inline;
}

.buy-content:hover {
    width: 120px;
    border: 2px solid rgb(40, 40, 40);
}

.buy-content .next {
    position: absolute;
    top: 50%;
    right: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-top: 2px solid rgb(40, 40, 40);
    border-left: 2px solid rgb(40, 40, 40);
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.buy-content:hover .next {
    opacity: 1;
    right: 20px;
}

.buy-content .prev {
    position: absolute;
    top: 50%;
    left: 30px;
    display: block;
    width: 12px;
    height: 12px;
    border-bottom: 2px solid rgb(40, 40, 40);
    border-right: 2px solid rgb(40, 40, 40);
    z-index: 1;
    transform: translateY(-50%) rotate(135deg);
    cursor: pointer;
    opacity: 0;
    transition: 0.5s;
}

.buy-content:hover .prev {
    opacity: 1;
    left: 20px;
}

#box span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 46px;
    color: brown;
    font-size: 24px;
    font-weight: 700;
    user-select: none;
    display: none;
}

.buy-content span:nth-child(1) {
    display: initial;
    }

.buy-btn {
    position: relative;
    display: inline;
    padding: 10px 30px;
    border-radius: 5px;
    background: #86A697;
    color: #465D4C;
    letter-spacing: 1px;
    transition: all 0.2s ease-in-out;
    overflow: hidden;
}

.buy-btn:before {
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
    height: 100%;
    width: 3em;
    display: block;
    position: absolute;
    top: 0;
    left: -4.5em;
    transform: skewX(-45deg) translateX(0);
    transition: none;
}

.buy-btn:hover {
    background-color: #465D4C;
    color: gainsboro;
    border-bottom: 4px solid darken(#465D4C, 10%);
}

.buy-btn:hover:before {
    transform: skewX(-45deg) translateX(13.5em);
    transition: all 0.5s ease-in-out;
}