.wthree_footer_grid_left {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    text-align: center;
    background: #ff0a80;
}

.w3ls_footer_grid_left p {
    color: #3f4044;
    line-height: 2em;
}

.w3ls_footer_grid_left p span {
    display: block;
}

.wthree_footer_grid_left i {
    color: #fff;
    font-size: 1.6em;
    line-height: 62px;
}

.w3ls_footer_grid_left p a {
    color: #3f4044;
    text-decoration: none;
}

.w3ls_footer_grid_left p a:hover {
    color: #000;
}

.w3ls_address_mail_footer_grids iframe {
    width: 100%;
    height: 620px;
    border: none;
    background-color: white;
    margin: 0 auto;
}


.w3ls_footer_grid_left {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
}

footer {
    position: fixed;
    bottom: 0;
    z-index: 1;
    height: 300px;
    display: flex;
    width: 100%;
    color: rgb(216, 216, 216);
    background: rgb(40, 40, 40);
    text-transform: uppercase;
}

.w3ls_address_mail_footer_grids {
    margin-bottom: 300px;
    background-color: #DAC9A6;
    width: 100vw;
    position: relative;
    z-index: 10;
}