.wthree_footer_grid_left {
    width: 62px;
    height: 62px;
    border-radius: 50%;
    text-align: center;
    background: #ff0a80;
}

.w3ls_footer_grid_left p {
    color: #3f4044;
    line-height: 2em;
}

.w3ls_footer_grid_left p span {
    display: block;
}

.wthree_footer_grid_left i {
    color: #fff;
    font-size: 1.6em;
    line-height: 62px;
}

.w3ls_footer_grid_left p a {
    color: #3f4044;
    text-decoration: none;
}

.w3ls_footer_grid_left p a:hover {
    color: #000;
}

.w3ls_address_mail_footer_grids iframe {
    width: 100%;
    height: 25em;
    border: none;
    margin-bottom: 2em;
}

h4.white-w3ls {
    color: #fff;
    margin-bottom: 1em;
    font-size: 30px;
}

.multi-gd-img.multi-gd-text h4 {
    position: absolute;
    top: 50%;
    left: 30%;
    font-size: 2em;
    color: #fff;
    font-weight: 300;
    letter-spacing: 10px;
}

.multi-gd-img.multi-gd-text h4 span {
    font-weight: 700;
    color: #2fdab8;
}

.multi-gd-img.multi-gd-text {
    padding: 0;
}

.styled-input.agile-styled-input-top {
    margin-top: 0;
}

.address-grid {
    padding: 1em 0em 0 0em;
}

.contact-form {
    background: #181919;
    padding: 5em 3em;
}

.contact input[type="text"],
.contact input[type="email"],
.contact textarea {
    font-size: 15px;
    letter-spacing: 1px;
    color: #fff;
    padding: 0.5em 1em;
    border: 0;
    width: 100%;
    border-bottom: 1px solid #dcdcdc;
    background: none;
    -webkit-appearance: none;
    outline: none;
}

.contact textarea {
    min-height: 8em;
    resize: none;
}

.contactright {
    padding: 4em;
}

.w3ls_footer_grid_left {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
}

.w3ls_address_mail_footer_grids {
margin-bottom: 300px;
background-color: #DAC9A6;
position: relative;
z-index: 10;
}